PORT=5000
NC_BASE_URL=http://localhost:8090
SESSION_SECRET=change-me
SESSION_DB_PATH=./sessions.db
SESSION_COOKIE_SECURE=false
SESSION_TTL_SECONDS=43200
ALLOW_MOCK_SERVICES=false
NEXTCLOUD_BOOTSTRAP_STRATEGY=exchange-or-direct
NEXTCLOUD_APP_PASSWORD_LABEL=CloudSpace Adapter
NC_CAPABILITY_USERNAME=
NC_CAPABILITY_PASSWORD=
VITE_PORT=5173
VITE_API_PROXY_TARGET=http://localhost:5000
VITE_NEXTCLOUD_PROXY_TARGET=http://localhost:8090
